@let(cls = html.classNames([$props.class, 'tooltip']))

<div {{ $props.except(['text', 'class']).merge({ class: cls, 'data-tip': text }).toAttrs() }}>
  @if ($slots.content)
    <div class="tooltip-content">
      {{{ await $slots.content() }}}
    </div>
  @endif
  
  {{{ await $slots.main() }}}
</div>
