@layout()
  @discussion.shell({ topics, filters })

    @each (discussion in discussions.data)
      @!discussion.card({ discussion })
    @endeach

    @!pagination({ items: discussions.meta })

  @end
@end
