<div class="w-full h-full bg-gradient-to-br from-primary/75 to-secondary/50">
  <img {{ $props.except(['user']).toAttrs() }} src="/imgs/robot/slice2.svg" class="scale-125 object-cover object-top-right" />
</div>