<div class="w-full h-full bg-gradient-to-br from-base-100 to-base-200">
  <img {{ $props.except(['user']).toAttrs() }} src="/imgs/robot/slice2.svg" class="scale-125 object-cover object-top-right" />
</div>