@let(width = $props.width || '250')

@if (item.asset)
  <img 
    src="{{ assetDomain }}{{ item.asset.assetUrl }}?w={{ width }}" 
    class="rounded-full object-contain object-center {{ $props.class }}" 
    loading="lazy" 
  />
@else
  <div class="font-semibold flex items-center justify-center mb-3 aspect-square rounded-full bg-gradient-to-br from-accent-400 to-brand-500 text-brand-100 {{ $props.class }}">
    {{ utils.getAbbrev(item.name) }}
  </div>
@endif
