<div x-data="{ 
      activeAccordion: '', 
      setActiveAccordion(id) { 
          this.activeAccordion = (this.activeAccordion == id) ? '' : id 
      } 
  }"
  class="relative w-full mx-auto overflow-hidden font-normal bg-white border border-slate-200 divide-y divide-slate-200 rounded-md">
  
  {{{ await $slots.main() }}}
  
</div>