TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LIMITER_STORE=database
SMTP_HOST=
SMTP_PORT=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
DRIVE_DISK=gcs
GCS_KEY=file://./gcs_key.json
GCS_BUCKET=