# Dependencies and AdonisJS build
node_modules
build
tmp
public/assets/hot.json

# Secrets
.env
.env.local
.env.production.local
.env.development.local
google-cloud-key.json

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
