<th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-800 uppercase tracking-wider">
  @if ($slots.main)
    {{{ await $slots.main() }}}
  @else
    {{ heading }}
  @endif
</th>