@set('on', on ?? 'light')
@set('classMap', {
  dark: 'text-slate-400',
  light: 'text-slate-600'
})

<h3 class="font-sans font-semibold uppercase tracking-wider mb-3 {{ classMap[on] }}">
  {{ title }}
</h3>