@set('slot', await $slots.main())

<div class="{{ className }}">
  <h2 class="text-4xl font-semibold mb-2">
    {{ title }}
  </h2>
  @if (slot || subtitle)
    <p class="text-lg font-thin">
      @if (slot)
        {{{ slot }}}
      @else
        {{ subtitle }}
      @endif
    </p>
  @endif
</div>