<div x-data="{ switchOn: {{ value }} }" class="flex items-center space-x-3 w-full">
  <label class="label w-full">
    <input 
      {{
        html.attrs({
          type: 'checkbox',
          name: name,
          class: ['toggle checked:bg-primary checked:border-primary checked:text-primary-content', $props.class],
          'x-model': 'switchOn',
          'checked': !!value
        })
      }}
    />
    {{{ await $slots.main() }}}
  </label>
</div>

