<script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0874550857266190"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-0874550857266190"
     data-ad-slot="4282630799"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>