<div>
  <div class="inline-flex items-center space-x-3">
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_buuuwhvb.json"  background="transparent"  speed="1"  style="width: 1.5rem; height: 1.5rem"  loop autoplay></lottie-player>
    <p class="max-w-prose text-gray-400 m-0 tracking-widest font-bold">
      LIVE
    </p>
  </div>
</div>
