<div class="flex flex-col">
  <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-base-content">
    @svg(icon, { class: 'size-6 flex-none text-primary' })
    {{ title }}
  </dt>
  <dd class="mt-4 flex flex-auto flex-col text-base/7 text-base-content/60">
    <p class="flex-auto max-w-[38ch]">
      {{ description }}
    </p>
  </dd>
  
  @if (subtext)
    <p class="text-base-content/40 mt-4 text-xs">
      {{ subtext }}
    </p>
  @endif
</div>
