<li>
  @if (href)
    <a href="{{ href }}" class="link font-semibold">
      {{ name }}
    </a>
    &mdash; {{ desc }}
  @else
    <span class="font-semibold">
      {{ name }}
    </span>
    &mdash; {{ desc }}
  @endif
</li>
