<p
  style="
    color: #000000;
    font-size: 16px;
    mso-line-height-rule: exactly;
    line-height: 24px;
    font-family: Arial, sans-serif;
  "
>
  <a
    href="{{ href }}"
    style="
      font-size: 16px;
      mso-line-height-rule: exactly;
      line-height: 24px;
      font-family: Arial, sans-serif;
      text-decoration: underline;
      font-weight: bold;
      color: #0000ff;
    "
    >
      {{{ await $slots.main() }}}
    </a
  >
</p>