<p
  style="
    color: #000000;
    font-size: 16px;
    mso-line-height-rule: exactly;
    line-height: 24px;
    font-family: Arial, sans-serif;
    margin-bottom: 0 !important;
  "
>
  &mdash; {{ signature || 'Adocasts' }}
</p>