@let(accent = $props.accent ?? 'hover:radial-accent-t')

<div class="card bg-base-200 duration-300 shadow-sm relative group overflow-hidden {{ accent }} {{ $props.class ?? '' }}">
  @if (accent && ($props.border === undefined || $props.border))
    <div class="card-border {{ $props.border ?? '' }}"></div>
  @endif
  
  @if ($slots.figure)
    {{{ await $slots.figure() }}}
  @endif

  {{{ await $slots.main() }}}

  @if ($slots.action)
    {{{ await $slots.action() }}}
  @endif
</div>
