@layer utilities {
  * {
    @apply duration-200;

    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
    * {
      scroll-behavior: unset;
      transition: none;
    }
  }

  a.anchor {
    @apply text-brand-700 hover:text-brand-800;
  }

  .app-container {
    @apply max-w-[1300px] mx-auto px-3 md:px-6;
  }

  .app-container-sm {
    @apply max-w-screen-xl mx-auto px-6;
  }

  .link {
    @apply text-brand-700 hover:text-brand-800;
  }

  .op-1 {
    @apply text-slate-800 group-hover:text-black duration-150;
  }
  
  .op-2 {
    @apply text-slate-600 group-hover:text-slate-800 duration-150;
  }

  .expand-link:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .break {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .anchor,
  .anchor-inv,
  .anchor-b {
    display: var(--display, inline-block);
    position: relative;
    color: currentColor;

    &.flex {
      --display: flex;
    }
  }

  .anchor-b {
    --bottom: -1px;
  }

  .anchor-thin {
    --height: 1px;
  }

  .anchor::after,
  .anchor-b::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: var(--height, 2px);
    bottom: var(--bottom, 0);
    left: 0;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .anchor:hover::after,
  .anchor-b:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (prefers-reduced-motion) {
    .anchor::after,
    .anchor-b::after {
      transition: transform 0.05s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .transition.duration-300 {
      transition-duration: 0.05s;
    }
  }

  .anchor-inv::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: var(--height, 2px);
    bottom: var(--bottom, 0);
    left: 0;
    background-color: currentColor;
    transform-origin: bottom left;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .anchor-inv:hover::after {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  footer .formkit-form input {
    @apply !w-full !text-sm !rounded-md !placeholder-slate-400 !bg-slate-100 !border !border-slate-200 !text-black;

    &:focus {
      @apply border-brand-500 ring-brand-500;
    }
  }

  /* .hero-backdrop-container {
    @apply absolute top-0 left-0 w-full bg-slate-100 rounded-b-[25px] lg:rounded-b-[100px] pointer-events-none;
    
    height: 350px;
  
    @screen md {
      height: 300px;
    }
  
    @screen lg {
      height: 100%;
    }
  } */
  
  .hero-backdrop-inner {
    --header-height: calc(80px + 1.25rem);
  
    @apply absolute w-full h-[450px] lg:min-h-[600px] left-0 opacity-20 group-hover:opacity-80 duration-150;
    
    pointer-events: none;
    top: calc(var(--header-height) * -1);
    overflow: hidden;
  }
  
  .hero-backdrop-image {
    @apply rounded-full w-full h-full min-h-[450px] lg:min-h-[600px] object-cover object-center scale-[2.25] group-hover:scale-[1.4] blur-xl group-hover:blur-none mb-3 duration-150;
  
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
  }
  
  .hero-backdrop-fade {
    @apply absolute top-0 w-full h-full min-h-[450px] lg:min-h-[600px] bg-gradient-to-b from-body/0 via-body/50 to-body z-10 duration-150;
    /* @apply absolute top-2/3 left-0 w-full h-80 bg-gradient-to-b from-transparent to-slate-100 z-10; */
  }

  .grid-post-content {
    --post-aside-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-post-content .title {
    order: 0;
  }
  
  .grid-post-content main {
    max-width: 100%;
    order: 2;
  }
  
  .grid-post-content aside.actions {
    order: 1;
  }
  
  .grid-post-content aside {
    order: 3;
  }
  
  @screen xl {
    .grid-post-content {
      --post-aside-width: 350px;
    }
  
    .grid-post-content main {
      max-width: calc(100% - var(--post-aside-width));
      order: 1;
    }
    
    .grid-post-content aside.actions {
      order: 2;
    }
    
    .grid-post-content aside {
      order: 2;
    }
  
    .post-main {
      width: calc(100% - var(--post-aside-width));
    }
  
    .post-aside {
      width: var(--post-aside-width);
    }
  }
}