up-drawer-box {
  @apply bg-white border-slate-200 p-0 shadow-xl;
	/* animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease; */
}

up-drawer[position="right"] up-drawer-box {
  @apply border-l rounded-l-xl;
}

up-drawer[position="left"] up-drawer-box {
  @apply border-r rounded-r-xl;
}

up-drawer-viewport {
  overflow-y: auto;
}

.modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}