@layer utilities { 
  body.box-series-show {
    overflow: hidden;
  }
  
  .lesson-wrapper .lesson-list-placeholder,
  .lesson-wrapper .lesson-list {
    display: none;
  }
  
  .lesson-wrapper .lesson-list-placeholder.show {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(6px);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
  
  .lesson-wrapper .lesson-list {
    width: calc(100% - 2.5rem);
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110;
    transition: all 300ms ease;
  }
  
  .lesson-wrapper .lesson-list.show {
    display: block;
  }
  
  .lesson-wrapper .lesson-list {
    color: theme('colors.slate.700');
  }
  
  @screen lg {
    :root {
      --lesson-list-width: 250px;
    }
  
    .lesson-wrapper {
      display: flex;
    }
  
    .lesson-wrapper .lesson-list-placeholder {
      width: var(--lesson-list-width);
      display: block;
      position: static;
    }
  
    .lesson-wrapper .lesson-list {
      width: calc(var(--lesson-list-width) + 1px);
      display: flex;
      flex-flow: column;
    }
  
    .lesson-wrapper .page-contents {
      width: calc(100% - var(--lesson-list-width) + 1px);

      .grid-post-content {
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }
  
  @screen xl {
    :root {
      --lesson-list-width: 300px;
    }
  }
}