
.modal > .modal-content,
up-modal-box {
  @apply bg-white border border-slate-200 rounded-xl p-0 shadow-xl;
	margin-top:4vh;
	/*width:80%;*/
	/*max-width:600px;*/
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}
