@layer utilities {
  .aspect-video:not(.no-access) {
    aspect-ratio: 16 / 9;
  }

  @screen lg {
    .aspect-video {
      aspect-ratio: 16 / 9;
    }
  }

  .aspect-square {
    aspect-ratio: 1 / 1;
  }

  /* purgecss start ignore */
  .hide-scrollbar {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* purgecss end ignore */

  [video-placeholder]:empty {
    display: none;
  }

  [video-placeholder]:not(.video-small):not(.no-access) {
    background-color: transparent !important;
  }

  [video-placeholder].video-small {
    @apply rounded-t-xl overflow-hidden;
  }

  .video-small-details {
    display: none;
  }

  .video-small .video-small-details {
    display: flex;
  }

  .video-small {
    width: 65% !important;

    .video-small-details {
      width: 100%;
    }

    @screen md {
      width: 325px !important;
      padding: 0;

      .aspect-video {
        width: 100%;
      }
    }
  }

  .video-noactions .video-small-details {
    display: none !important;

    @screen md {
      display: block !important;
    }
  }

  .video-noactions .video-small-actions {
    display: none !important;
  }

  .lesson-wrapper + .video-small,
  .lesson-wrapper + [up-player] .video-small {
    /* right: var(--lesson-list-width) !important; */

    @screen lg {
      right: calc(var(--lesson-list-width) + 1.5rem) !important;
    }
  }

  .lesson-wrapper header {
    @apply bg-slate-100;
    margin-bottom: 0 !important;
  }

  .lesson-wrapper header > div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  @keyframes zoomIn {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
  }

  @keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0.9);}
  }
}
