.prose {
  position: relative;
}

.prose p.timestamp {
  @apply text-xs text-slate-500 tracking-wide font-bold;
  margin-bottom: -2em;
  position: relative;
  top: -4px;
}

.prose .timestamp + p {
  margin-bottom: .4em;
}

.prose .timestamp {
  cursor: pointer;
  color: theme('colors.brand.600') !important;
}

.prose.no-max {
  max-width: 100%;
}

.prose.post-type-5 .timestamp + p:not(.timestamp),
.prose .timestamp.transcript + p:not(.timestamp) {
  margin-top: -1.75rem;
  padding-left: 55px;
}

.prose.post-type-1 p.timestamp:not(.transcript):after {
  content: "- Jump to this section in video";
  color: theme('colors.slate.500');
  font-weight: 300;
  margin-left: 1ch;
}

.prose p.transcript.cutoff.active,
.prose p.transcript.cutoff.active + p:not(.timestamp) {
  display: none;
}

.transcript-cutoff {
  @apply xl:pl-6;

  width: 100%;
  height: 10ch;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(to bottom, transparent, theme('colors.slate.100') 90%);
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 300ms ease;
}

.transcript-cutoff.active {
  background-image: none;
  bottom: -1ch;
}

.transcript-cutoff button {
  width: 100%;
  height: 3ch;
  display: block;
  text-align: left;
  font-size: theme('fontSize.sm');
  font-weight: 500;
  text-transform: uppercase;
  pointer-events: all;
  transition: all 300ms ease;
}

.transcript-cutoff button:hover,
.transcript-cutoff button:active {
  color: theme('colors.brand.600');
}

.transcript-cutoff button:before {
  content: "👇 Show Full Transcript";
}

.transcript-cutoff.active button:before {
  content: "👆 Hide Transcript";
}

.prose pre code .line.del {
  opacity: 40%;
  transition: opacity 300ms ease;
}

.prose pre code:hover .line.del {
  opacity: 100%;
}

.prose .line.del > span:first-of-type:before {
  content: "--";
  color: theme('colors.red.500') !important;
  font-size: .9em;
  position: absolute;
  left: -3.25rem;
}

.prose .line.add > span:first-of-type:before {
  content: "++";
  color: theme('colors.green.500') !important;
  font-size: .9em;
  position: absolute;
  left: -3.25rem;
}

.prose .line.del,
.prose .line.add {
  position: relative;
}

.prose .line.del:after,
.prose .line.add:after {
  content: "";
  height: 100%;
  left: -2ch;
  opacity: 30%;
  position: absolute;
  top: 0;
  width: calc(100% + 5ch);
}

.prose .line.del:after {
  background-color: theme('colors.red.500');
}

.prose .line.add:after {
  background-color: theme('colors.green.500');
}

.prose .line.del > span,
.prose .line.add > span {
  position: relative; 
  z-index: 20;
}

.prose .line {
  display: block;
  line-height: 2;
}

.prose img {
  border-radius: theme('borderRadius.xl');
}

.prose pre > code {
  display: flex;
  flex-flow: column;
}

pre {
  overflow: hidden;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line:before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  background-color: theme('colors.slate-base.900');
  opacity: 50%;
  margin-right: .5rem;
  margin-left: -1.3333333em;
  padding-left: 1.3333333em;
  padding-right: 1.5rem;
  display: inline-block;
}

code .line:first-of-type:before {
  @apply rounded-tr-lg;
}

code .line:last-of-type:before {
  @apply rounded-br-lg;
}

.cdx-block.ce-code {
  position: relative;
}

.ce-code__textarea {
  min-height: 200px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #41314e;
  line-height: 1.6em;
  font-size: 12px;
  background: #f8f7fa;
  border: 1px solid #f1f1f4;
  box-shadow: none;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  resize: vertical;
}

.ce-code__languagecode {
  @apply text-xs px-3 py-1 rounded;
  position: absolute;
  bottom: 2ch;
  right: 0;
}

.ProseMirror {
  @apply border border-gray-300 p-3 rounded-lg;
  min-height: 125px;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: theme('colors.slate.500');
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* purgecss start ignore */
.prose-comment .ProseMirror {
  @apply rounded-xl bg-slate-50 border-slate-200 pt-3 pb-16;
  min-height: 150px;
}

.comment-form.with-bio .prose-comment .ProseMirror {
  @apply pt-16;
}

.comment-form.with-bg .prose-comment .ProseMirror {
  @apply bg-slate-100;

  .is-empty:before {
    @apply text-slate-400;
  }
}

.prose-comment-bio {
  @apply bg-slate-100 flex items-center py-2 px-2 rounded-xl absolute top-1 left-1 z-10;
  width: calc(100% - .5rem);
}

.prose-comment-actions {
  @apply absolute bottom-1 right-1 flex items-center z-10;
}

.comment-form .btn-comment-submit,
.comment-form .btn-comment-cancel {
  @apply inline-flex items-center rounded-xl border border-transparent bg-slate-100 hover:bg-slate-200 px-3 py-2 text-sm font-medium leading-4 text-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 duration-150;
}

.comment-form:hover .btn-comment-submit,
.comment-form:focus-within .btn-comment-submit {
  @apply bg-brand-600 text-white hover:bg-brand-500;
}
/* purgecss end ignore */

progress {
  --progress-width: 100%;
  --progress-height: 6px;
  --progress-bar-color: theme('colors.violet.100');
  --progress-bg: none;
  --progress-border-radius: 0 6px 6px 0;

  position: sticky;
  top: 0;
  z-index: 9999;
  transition: color 300ms ease;
}

progress.is-complete {
  --progress-bar-color: theme('colors.green.800');
  --progress-border-radius: 0;
}

progress[value] {
  appearance: none;
  border: none;
  width: var(--progress-width);
  height: var(--progress-height);
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
  color: var(--progress-bar-color);
}

progress[value]::-moz-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}