@import "tailwindcss" source("../");
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Recursive', sans-serif;
  --font-mono: 'Recursive', monospace;
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Adocasts";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(35% 0.144 278.697);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(37% 0.044 257.287);
  --color-secondary-content: oklch(93% 0.034 272.788);
  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(93% 0.034 272.788);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

[x-cloak] {
  display: none !important;
}

body {
  --mono: 0;
  --casl: .5;
  --wght: 400;
  --slnt: 0;
  --crsv: 0.5;

  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);

  .italic {
    --casl: 1;
    --slnt: -15;
  }

  .mono {
    --mono: 1;
  }

  .font-semibold {
    --wght: 600;
  }

  .font-bold {
    --wght: 700;
  }

  .font-black {
    --wght: 800;
  }
}

.container-xl {
  width: 100%;
  max-width: 112rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  
  @media screen and (min-width: 112rem) {
    margin: 0 auto;
  }
}

.border-base {
  border-color: var(--color-base-300);
  border-width: var(--border);
}

.btn.btn-ghost-soft {
  &:not(.btn-active, .mouseover, :hover, :active:focus, :focus-visible) {
    &:not(:disabled, [disabled], .btn-disabled) {
      outline-color: currentColor;
      --btn-fg: currentColor;
    }
  }

  &:not(.btn-active, .mouseover, :hover, :active:focus, :focus-visible) {
    --btn-shadow: "";
    --btn-bg: #0000;
    --btn-border: #0000;
    --btn-noise: none;
  }

  &:hover,
  &.mouseover {
    --btn-shadow: "";
    --btn-fg: var(--btn-color, var(--color-base-content));
    --btn-bg: color-mix(in oklab, var(--btn-color, var(--color-base-content)) 8%, var(--color-base-100));
    --btn-border: color-mix(in oklab, var(--btn-color, var(--color-base-content)) 10%, var(--color-base-100));
    --btn-noise: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 40s linear infinite;
}

.animate-marquee,
.animate-marquee-reverse {
  will-change: transform;
  &:hover {
      animation-play-state: paused;
  }
}

.skew-center {
  perspective: 100vh;
  /* transform: translate3d(-1490px, 0px, 0px);
  transform-style: preserve-3d;
  transition-property: transform; */

  > div {
    position: relative;
    transition-property: transform;
    transform-style: preserve-3d;
  }

  > div:nth-of-type(1) {
    transform: translate3d(300px, 0px, 0px) rotateX(0deg) rotateY(50deg) scale(0.7);
    z-index: -2;
  }

  > div:nth-of-type(2) {
    transform: translate3d(135px, 0px, 0px) rotateX(0deg) rotateY(25deg) scale(0.85);
    z-index: -1;
  }

  > div:nth-of-type(3) {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1);
    z-index: 1;
  }

  > div:nth-of-type(4) {
    transform: translate3d(-135px, 0px, 0px) rotateX(0deg) rotateY(-25deg) scale(0.85);
    z-index: -1;
  }

  > div:nth-of-type(5) {
    transform: translate3d(-300px, 0px, 0px) rotateX(0deg) rotateY(-50deg) scale(0.7);
    z-index: -2;
  }
}