@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'IBM Plex Sans', serif;
  --font-body: 'IBM Plex Sans', serif;
  
  --theme-0: theme('colors.brand.0');
  --theme-50: theme('colors.brand.50');
  --theme-100: theme('colors.brand.100');
  --theme-200: theme('colors.brand.200');
  --theme-300: theme('colors.brand.300');
  --theme-400: theme('colors.brand.400');
  --theme-500: theme('colors.brand.500');
  --theme-600: theme('colors.brand.600');
  --theme-700: theme('colors.brand.700');
  --theme-800: theme('colors.brand.800');
  --theme-900: theme('colors.brand.900');
  --theme-950: theme('colors.brand.950');
}

html.dark {
  --theme-0: theme('colors.gray.0');
  --theme-50: theme('colors.gray.50');
  --theme-100: theme('colors.gray.100');
  --theme-200: theme('colors.gray.200');
  --theme-300: theme('colors.gray.300');
  --theme-400: theme('colors.gray.400');
  --theme-500: theme('colors.gray.500');
  --theme-600: theme('colors.gray.600');
  --theme-700: theme('colors.gray.700');
  --theme-800: theme('colors.gray.800');
  --theme-900: theme('colors.gray.900');
  --theme-950: theme('colors.gray.950');
}

[v-cloak],
[x-cloak] {
  display: none;
}

a.brand {
  color: theme('colors.brand.800');
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: theme("fontFamily.body");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
}

.max-w-6 {
  max-width: theme("width.6");
}

.focus-within\:max-w-400 {
  transition: all 300ms ease;
}

.focus-within\:max-w-400:focus-within {
  max-width: 400px;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.dark .auth-layout-content {
  filter: drop-shadow(0 0 32px rgba(0,0,0,.45));
  padding-bottom: 6rem;
}

.bg-pattern {
  background-color: theme('colors.gray.950');
  position: relative;

  /* generated from: https://www.svgbackgrounds.com */
  &:before {
    content:  "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%2311181C' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23282b2d' href='%23s' y='2'/%3E%3Cuse fill='%23282b2d' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2336383a' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2336383a' href='%23s'/%3E%3Cuse fill='%23414344' href='%23s' x='2'/%3E%3Cuse fill='%23414344' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%234a4c4d'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%234a4c4d'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23525455'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2311181C'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%235a5b5c'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23555555'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23555555'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23555555'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 600px;
    background-repeat: repeat;
    filter: grayscale(100%);
  }

  &.light {
    background-color: theme('colors.gray.100');

    &:before {
      opacity: .1;
      filter:  grayscale(100%) invert(100%);
    }
  }
}

[type="text"].natural:focus,
[type="email"].natural:focus,
[type="url"].natural:focus,
[type="password"].natural:focus,
[type="number"].natural:focus,
[type="date"].natural:focus,
[type="datetime-local"].natural:focus,
[type="month"].natural:focus,
[type="search"].natural:focus,
[type="tel"].natural:focus,
[type="time"].natural:focus,
[type="week"].natural:focus,
[multiple].natural:focus,
textarea.natural:focus,
select.natural:focus {
  box-shadow: none !important;
}

input[type="file"].file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type="file"].file + label {
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: theme("borderRadius.lg");
}
input[type="file"].file + label * {
  pointer-events: none;
  transition: none;
}
input[type="file"].file + label i {
  padding-right: theme("padding.3");
  font-size: 1rem;
}
input[type="file"].file + label i:before {
  position: relative;
  top: 3px;
}
input[type="file"].file-drop {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type="file"].file-drop + label {
  @apply py-6 px-3 text-gray-800 border border-dashed border-gray-800 rounded;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-weight: normal;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: color 300ms ease, border-color 300ms ease;
}
input[type="file"].file-drop + label * {
  pointer-events: none;
  transition: none;
}
input[type="file"].file-drop + label i {
  padding-right: theme("padding.3");
  font-size: 1rem;
}
input[type="file"].file-drop + label:before {
  position: relative;
  top: 3px;
}
input[type="file"].file-drop:focus + label,
input[type="file"].file-drop:hover + label,
input[type="file"].file-drop.is-hovered + label,
input[type="file"].file-drop + label:hover {
  color: theme("colors.brand.800");
  border-color: theme("colors.brand.800");
}

.ce-block__content,
.ce-toolbar__content {
  max-width: calc(100% - 120px);
}

.cdx-notifies {
  z-index: 100;
}

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"].circle {
  --fg: theme('colors.accent.700');
  --bg: transparent;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, theme('colors.gray.950') 90%, transparent 0 99.9%, theme('colors.gray.950') 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  color: var(--fg);
}


.anchor,
.anchor-inv,
.anchor-b {
  display: var(--display, inline-block);
  position: relative;
  color: currentColor;

  &.flex {
    --display: flex;
  }
}

.anchor-b {
  --bottom: -1px;
}

.anchor-thin {
  --height: 1px;
}

.anchor::after,
.anchor-b::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: var(--height, 2px);
  bottom: var(--bottom, 0);
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.anchor:hover::after,
.anchor-b:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (prefers-reduced-motion) {
  .anchor::after,
  .anchor-b::after {
    transition: transform 0.05s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .transition.duration-300 {
    transition-duration: 0.05s;
  }
}

.anchor-inv::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: var(--height, 2px);
  bottom: var(--bottom, 0);
  left: 0;
  background-color: currentColor;
  transform-origin: bottom left;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.anchor-inv:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.btn-hover-fill .btn-filled {
  opacity: 0;
}

.btn-hover-fill.active .btn-filled {
  opacity: 1;
  color: theme('colors.red.700');
}

.btn-hover-fill:hover .btn-filled {
  opacity: 1;
}

.btn-hover-fill.active .btn-outline {
  color: theme('colors.red.700');
}

.affiliate {
  display: flex;
  margin-bottom: 1rem;
}

.affiliate a {
  margin: 0 auto;
}

.break {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.body-content {
  width: 100%;
  max-width: 100%;

  @screen lg {
    max-width: 74ch;
  }

  @screen xl {
    max-width: 85ch;
  }

  .prose {
    max-width: 100%;
  }
}

.cdx-block.ce-code {
  position: relative;
}

.ce-code__textarea {
  min-height: 200px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #41314e;
  line-height: 1.6em;
  font-size: 12px;
  background: #f8f7fa;
  border: 1px solid #f1f1f4;
  box-shadow: none;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  resize: vertical;
}

.ce-code__languagecode {
  @apply text-xs px-3 py-1 rounded;
  position: absolute;
  bottom: 2ch;
  right: 0;
}

.ProseMirror {
  @apply border border-gray-300 p-3 rounded-lg;
  min-height: 125px;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

progress {
  --progress-width: 100%;
  --progress-height: 6px;
  --progress-bar-color: theme('colors.brand.800');
  --progress-bg: none;
  --progress-border-radius: 0 6px 6px 0;

  position: sticky;
  top: 0;
  z-index: 9999;
  transition: color 300ms ease;
}

progress.is-complete {
  --progress-bar-color: theme('colors.green.800');
  --progress-border-radius: 0;
}

progress[value] {
  appearance: none;
  border: none;
  width: var(--progress-width);
  height: var(--progress-height);
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
  color: var(--progress-bar-color);
}

progress[value]::-moz-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bg);
  border-radius: var(--progress-border-radius);
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-bar-color);
  border-radius: var(--progress-border-radius);
}

.prose p.timestamp {
  @apply text-xs text-gray-700 tracking-wide font-bold;
  margin-bottom: -2em;
}

.prose .timestamp + p {
  margin-bottom: .4em;
}

.prose .timestamp {
  cursor: pointer;
  color: theme('colors.indigo.500') !important;
}

.prose.post-type-5 .timestamp + p:not(.timestamp),
.prose .timestamp.transcript + p:not(.timestamp) {
  margin-top: -1.75rem;
  padding-left: 55px;
}

.prose.post-type-1 p.timestamp:not(.transcript):after {
  content: "- Jump to this section in video";
  color: theme('colors.gray.700');
  font-weight: 300;
  margin-left: 1ch;
}

.prose pre code .line.del {
  opacity: 40%;
  transition: opacity 300ms ease;
}

.prose pre code:hover .line.del {
  opacity: 100%;
}

.prose .line.del > span:first-of-type:before {
  content: "--";
  color: theme('colors.red.500') !important;
  font-size: .9em;
  position: absolute;
  left: -3.25rem;
}

.prose .line.add > span:first-of-type:before {
  content: "++";
  color: theme('colors.green.500') !important;
  font-size: .9em;
  position: absolute;
  left: -3.25rem;
}

.prose .line.del,
.prose .line.add {
  position: relative;
}

.prose .line.del:after,
.prose .line.add:after {
  content: "";
  height: 100%;
  left: -2ch;
  opacity: 30%;
  position: absolute;
  top: 0;
  width: calc(100% + 5ch);
}

.prose .line.del:after {
  background-color: theme('colors.red.500');
}

.prose .line.add:after {
  background-color: theme('colors.green.500');
}

.prose .line.del > span,
.prose .line.add > span {
  position: relative; 
  z-index: 20;
}

.prose .line {
  display: block;
  line-height: 2;
}

pre > code {
  display: flex;
  flex-flow: column;
}

pre {
  overflow: hidden;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line:before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  background-color: black;
  opacity: 40%;
  margin-right: .5rem;
  margin-left: -1.3333333em;
  padding-left: 1.3333333em;
  padding-right: 1.5rem;
  display: inline-block;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
  color: theme('colors.gray.200');
}

.dark .prose a,
.dark .prose * {
  color: theme('colors.gray.500');
}

.dark .prose code {
  color: theme('colors.brand.500');
}

.formkit-center form.formkit-form {
  margin: 0 auto;
}
