@import 'tailwindcss' source('../');
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Red Hat Display', sans-serif;
  --font-mono: 'Red Hat Mono', monospace;
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'Adocasts';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(35% 0.144 278.697);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(37% 0.044 257.287);
  --color-secondary-content: oklch(93% 0.034 272.788);
  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(93% 0.034 272.788);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

[x-cloak] {
  display: none !important;
}

body {
  --mono: 0;
  --casl: 0.5;
  --wght: 400;
  --slnt: 0;
  --crsv: 0.5;

  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);

  .italic {
    --casl: 1;
    --slnt: -15;
  }

  .mono {
    --mono: 1;
  }

  .font-semibold {
    --wght: 600;
  }

  .font-bold {
    --wght: 700;
  }

  .font-black {
    --wght: 800;
  }
}

a.link-grow {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container-xl {
  width: min(calc(100% - 3rem), 112rem);
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  @media screen and (min-width: 112rem) {
    margin: 0 auto;
  }
}

.border-base {
  border-color: var(--color-base-300);
  border-width: var(--border);
}

.btn.btn-ghost-soft {
  &:not(.btn-active, .mouseover, :hover, :active:focus, :focus-visible) {
    &:not(:disabled, [disabled], .btn-disabled) {
      outline-color: currentColor;
      --btn-fg: currentColor;
    }
  }

  &:not(.btn-active, .mouseover, :hover, :active:focus, :focus-visible) {
    --btn-shadow: '';
    --btn-bg: #0000;
    --btn-border: #0000;
    --btn-noise: none;
  }

  &:hover,
  &.mouseover {
    --btn-shadow: '';
    --btn-fg: var(--btn-color, var(--color-base-content));
    --btn-bg: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 8%,
      var(--color-base-100)
    );
    --btn-border: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 10%,
      var(--color-base-100)
    );
    --btn-noise: none;
  }
}

@property --hero-card-border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes hero-card-border-spin {
  from {
    --hero-card-border-angle: 0deg;
  }

  to {
    --hero-card-border-angle: 360deg;
  }
}

.hero-card-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
      from var(--hero-card-border-angle),
      var(--color-primary),
      var(--color-secondary),
      var(--color-accent),
      var(--color-primary)
    );
    border-radius: calc(var(--radius-xl) + 4px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: 6s hero-card-border-spin linear infinite;
  }

  &:before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
}

@keyframes line-grid {
  0% {
    transform: translateY(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -50%, 0);
  }
}

.stats.stats-lg {
  @variant lg {
    gap: theme(spacing.8);

    .stat {
      padding-inline: calc(.25rem * 8);
    }

    .stat-figure svg {
      width: theme(spacing.16);
      height: theme(spacing.16);
    }

    .stat-title {
      font-size: var(--text-lg);
    }

    .stat-value {
      font-size: var(--text-5xl);
    }
  }
}

.skew-lines {
  width: 100%;
  height: 95%;
  /* perspective: 30vh; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  .skew-lines-floor {
    width: 125%;
    height: 150%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -4rem;
    transform: translateX(-50%);
    /* perspective: 450px; */
  }

  .skew-lines-grid {
    width: 100%;
    height: 200%;
    transform: rotateX(106deg);
    opacity: 0.065;
    overflow: hidden;

    &:before {
      content: '';
      width: 100%;
      height: 200%;
      background-image:
        linear-gradient(to right, #fff 1px, transparent 0),
        linear-gradient(to bottom, #fff 1px, transparent 0);
      background-size: 120px 60px;
      background-repeat: repeat;
      animation: line-grid 45s linear infinite;
      position: absolute;
      left: 0;
    }
  }
}
