@form.put({ action: route('api.user.theme'), attrs: 'up-submit up-target="html"' })
  @dropdown.item({ type: 'button', onClick: `document.body.parentElement.classList.remove('light', 'dark', 'system'); document.body.parentElement.classList.add('${value}')` })
    <input type="hidden" name="theme" value="{{ value }}" />
    <div class="flex items-center gap-x-3">
      {{{ await $slots.main() }}}
    </div>
  @end
@end