@let(tagName = ['button', 'submit'].includes($props.type) ? 'button' : 'a')
@let(classes = html.classNames('text-base-content/80 text-sm group-hover:[&:not(:hover)]:text-base-content/60 hover:text-base-content duration-300', $props.class))

<{{ tagName }} class="{{ classes }}" {{ $props.except(['text', 'class']).toAttrs() }}>
  @if (text)
    {{ text }}
  @else
    {{{ await $slots.main() }}}
  @endif
</{{ tagName }}>