@layout()

  <div x-data="{ active: 'account' }" class="flex flex-col lg:flex-row gap-3 lg:gap-6">
    @!settings.nav()

    <div class="w-full lg:w-3/4">
      <div id="notifications" class="bg-slate-100 p-6 rounded-xl mb-3" x-intersect="active = $el.id">
        <h3 class="border-b border-slate-200 text-lg font-bold pb-6 mb-6">
          Manage Your Notifications
        </h3>
        @!settings.manageNotificationEmails({ profile, borderBottom: false })
      </div>
    </div>
  </div>

@end