<div class="py-8 first:pt-0 last:pb-0 lg:grid lg:grid-cols-12 lg:gap-8">
  <dt class="text-base/7 font-semibold text-base-content lg:col-span-5">
    {{ title }}
  </dt>
  <dd class="mt-4 lg:col-span-7 lg:mt-0">
    {{{ await $slots.main() }}}
  </dd>
</div>
