@let(resetLabel = $props.resetLabel ?? 'All')

@inject({ 
  checked: $props.checked, 
  name: $props.name,
  resetLabel,
})

<div class="filter {{ $props.class }}" {{ $props.except(['class', 'checked']).toAttrs() }}>
  @if (resetLabel)
    @!form.filter.reset({ label: resetLabel, name })
  @endif

  {{{ await $slots.main() }}}
</div>
