@if (type === 'button')
  <button @click="{{ onClick }}" class="block px-4 py-2 text-sm leading-5 rounded-lg text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out {{ className }}">
    {{{ await $slots.main() }}}
  </button>
@else 
  <a href="{{ href }}" class="block px-4 py-2 text-sm leading-5 rounded-lg text-gray-900 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out {{ className }}">
    {{{ await $slots.main() }}}
  </a>
@endif