<div class="bg-black">
  <div class="bg-gradient-to-tr from-slate-900 to-slate-800/80 shadow-xl border-b border-slate-900">
    @!next.headers.barBanner()
    @!next.headers.barBrand()
  </div>
</div>