@set('isActive', request.matchesRoute(href))

<a href="{{ href }}" class="text-sm lg:text-base hover:text-white duration-150 px-1 lg:px-3 py-1 rounded {{ isActive ? 'bg-theme-900 text-white' : 'text-gray-600' }}">
  {{ await $slots.main() }}
</a>
