@!header.nav.item({ text: 'Series', href: route('series.index') })
@!header.nav.item({ text: 'Topics', href: route('topics.index') })
@!header.nav.item({ text: 'Lessons', href: route('lessons.index') })
@!header.nav.item({ text: 'Blog', href: route('blogs.index') })
@!header.nav.item({ text: 'Forum', href: route('discussions.index') })
