@if (isPlusEnabled)
  @let(plusMonthly = $props.plusMonthly || await PlanService.get(Plans.PLUS_MONTHLY))
  @let(block = $props.block || false)

  <button type="submit" form="plusMonthlyForm" class="btn btn-outline btn-primary btn-block">
    {{ cta ?? 'Get Started Today' }}
  </button>
  @!form({ id: 'plusMonthlyForm', action: route('stripe.checkout', { slug: plusMonthly.slug }), 'up-submit': 'false' })
@endif
