<!DOCTYPE html>
<html class="system">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> AdonisJS - A fully featured web framework for Node.js </title>

  @vite(['resources/js/app.js'])
</head>
<body class="h-full bg-body text-slate-900 overflow-x-hidden subpixel-antialiased" layout-root up-theme>
  @!layout.header()

  
  <div x-data="{ heroVisible: true }" up-main>
    @if ($slots.hero)
      {{{ await $slots.hero() }}}
    @endif

    <main {{ html.attrs({ class: utils.classes('page', [up.isPage ? 'mt-8' : '!px-0']), ...($props.attrs || {}) }) }} >
      {{{ await $slots.main() }}}
    </main>
  </div>

  @!layout.footer()
</body>
</html>
