<li class="list-row px-3 py-2">
  <div class="text-2xl font-thin opacity-30 tabular-nums">77</div>
  <div class="list-col-grow">
    <div class="line-clamp-1 text-sm">Polling for Changes in InertiaJS 2</div>
    <div class="text-2xs uppercase font-semibold opacity-60 flex items-center gap-4">
      <div>Feb 24th</div>
      <div>4m 12s</div>
    </div>
  </div>
  <button class="btn btn-neutral btn-square btn-ghost">
    @svg('solar:play-bold', { class: 'size-[1.2em]'})
  </button>
</li>
