@layout.email({ title: 'Your Adocasts password has been changed' })

  @emails.paragraph()
    Hi {{ user.username }},
  @end

  @emails.paragraph()
    Your password has been successfully changed.
  @end

  @emails.paragraph()
    If you didn't make this change, please reset your password immediately by visiting your account settings.
  @end

  @emails.button({ href: 'https://adocasts.com/settings/account' })
    Go to Account Settings
  @end

  @!emails.signature()

@end
