@layout.email({ title: 'Your Adocasts password has been reset' })

  @emails.paragraph()
    Hi {{ user.username }},
  @end

  @emails.paragraph()
    Your password has been successfully reset.
  @end

  @emails.button({ href: 'https://adocasts.com/signin' })
    Sign Into Adocasts
  @end

  @!emails.signature()

@end