<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Studio</title>

  <script src="//unpkg.com/alpinejs" defer></script>

  @entryPointStyles('app')
  @entryPointScripts('app')

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MS9CV96KLH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MS9CV96KLH');
  </script>

  <script defer data-domain="adocasts.com" src="https://analytics.adocasts.com/js/plausible.js"></script>
</head>
<body class="bg-gray-50">
  <div id="context" x-data="{ state: {} }" @mounted="state = { ...state, [$event.detail.name]: $event.detail.data }" @call="state[$event.detail.namespace][$event.detail.name]($event.detail.args)"></div>

  @!toast.base()
  @!header.base({ container: 'max-w-screen-2xl px-2 sm:px-4 lg:px-8' })
  @!header.studio({ container: 'max-w-screen-2xl mx-auto px-2 sm:px-4 lg:px-8' })

  @!section('heading')

  <main class="max-w-screen-2xl mx-auto pb-12 px-2 sm:px-4 lg:px-8 relative z-10">
    <div class="bg-white rounded-lg p-6 shadow-xl overflow-hidden">
      @!section('content')
    </div>
  </main>

  @!section('scripts')
</body>
</html>
