@let(size = $props.size ?? 3)
@let(data = $props.data ?? [])
@let(chunks = Math.ceil(data.length / size))

@each ((_, index) in [...new Array(chunks)])
  @let(chunk = data.slice(index * size, (index + 1) * size))
  {{{ 
      await $slots.main({ 
      chunk: chunk, 
      index: index, 
      totalChunks: chunks 
    }) 
  }}}
@endeach
