@if (user.isEnabledProfile)
  <a href="#" {{ $props.except(['user']).toAttrs() }}>
    {{{ await $slots.main() }}}
  </a>
@else
  <span {{ $props.except(['user']).toAttrs() }}>
    {{{ await $slots.main() }}}
  </span>
@endif