@let(tab = request.params().tab ?? 'activity')
@let(active = tab === $props.tab)
@let(href = route($props.identifier, { handle: $props.user.handle, tab: $props.tab ?? 'activity' }))
@let(classes = html.classNames(['flex justify-between', $props.class, { 'menu-active': active }]))

<li>
  <a {{ $props.except(['identifier', 'user' ]).merge({ class: classes, href }).toAttrs() }}
    up-target="[up-main-content], [up-main-menu]" up-scroll="target">
    {{{ await $slots.main() }}}
  </a>
</li>
