@layout({
  title: "Credits",
  meta: {
    url: route('credits'),
    desc: "Credits for the people, technologies, and services that make Adocasts possible",
    asset: null,
    index: true
  },
  mainClass: 'h-[calc(100vh-150px)]'
})

  @slot('hero')
    @!starfield({ class: '!fixed w-full h-full top-0 left-0', mountain: false, clouds: false, lines: false })
  @endslot
    
  <div
    x-data="credits"
    :class="['absolute h-[calc(100%+4rem)] min-h-[600px] w-full left-0 z-10 credits overflow-scroll -mt-8 -mb-16', { play }]"
    @mouseenter="play = false"
    @mouseleave="play = true">
    <div class="max-w-3xl mx-auto">
      <div class="max-w-xs mx-auto pt-12">
        <span class="sr-only">Adocasts</span>
        <img class="max-w-full" src="/imgs/logo-white.svg" alt="Adocasts" />
      </div>

      @!heading({ 
        subtitle: 'Credits',
        class: 'text-center mb-12'
      })

      <dl class="flex flex-col items-center gap-12 text-slate-base-50 text-justify pb-16">
        @credit.group()
          @!credit.item({
            title: 'Created By',
            value: 'Tom Gobich',
            href: '/@tomgobich'
          })
        @end

        @credit.group()
          @!credit.item({ 
            title: 'Educators', 
            value: authors.map(a => ({
              text: `${a.profile.name || a.username} ${a.isEnabledProfile ? `(${a.handle})` : ''}`.trim(),
              href: a.isEnabledProfile && `/${a.handle}`
            })) 
          })
        @end

        @credit.group({ title: 'Tech Stack' })
          @!credit.item({ title: 'Backend Framework', value: 'AdonisJS', href: 'https://adonisjs.com' })
          @!credit.item({ title: 'Template Engine', value: 'EdgeJS', href: 'https://edgejs.dev' })
          @!credit.item({ title: 'Testing Framework', value: 'Japa', href: 'https://japa.dev' })
          @!credit.item({ title: 'Fragment Navigation', value: 'Unpoly', href: 'https://unpoly.com' })
          @!credit.item({ title: 'Client Reactivity', value: 'AlpineJS', href: 'https://alpinejs.dev' })
          @!credit.item({ title: 'CSS Framework', value: 'Tailwind CSS', href: 'https://tailwindcss.com' })
        @end

        @credit.group({ title: 'Hosting' })
          @!credit.item({ title: 'Server', value: 'Vultr', href: 'https://www.vultr.com/' })
          @!credit.item({ title: 'Adocasts Plus Videos', value: 'Bunny Stream', href: 'https://bunny.net/stream' })
          @!credit.item({ title: 'Free Videos', value: 'YouTube', href: 'https://youtube.com/adocasts' })
          @!credit.item({ title: 'Images', value: 'Google Cloud Storage', href: 'https://cloud.google.com/storage' })
        @end

        @credit.group({ title: 'Services' })
          @!credit.item({ title: 'Billing & Subscriptions', value: 'Stripe', href: 'https://stripe.com/' })
          @!credit.item({ title: 'CI & Server Management', value: 'Cleavr', href: 'https://cleavr.io/?via=adocasts' })
          @!credit.item({ title: 'Newsletter', value: 'ConvertKit', href: 'https://convertkit.com/' })
          @!credit.item({ title: 'Emails', value: 'Mailjet', href: 'https://www.mailjet.com/' })
          @!credit.item({ title: 'Code Tracking', value: 'GitHub', href: 'https://github.com' })
        @end

        @credit.group({ title: 'Hardware' })
          @!credit.item({ title: 'Computer', value: '14" 2023 Mackbook Pro', href: 'https://www.theverge.com/22751921/apple-macbook-pro-14-16-inch-2021-m1-pro-max-review' })
          @!credit.item({ title: 'Monitor', value: '34" Z-Edge 4K IPS', href: 'https://www.amazon.com/dp/B09LM5TQ9T' })
          @!credit.item({ title: 'Camera', value: 'Sony ZV-1F', href: 'https://www.amazon.com/Sony-Camera-Content-Creators-Vloggers/dp/B0BHKKHNHM' })
          @!credit.item({ title: 'Microphone', value: 'Blue Yeti', href: 'https://www.bluemic.com/en-us/products/yeti/' })
          @!credit.item({ title: 'Keyboard', value: 'Keychron K2 Pro', href: 'https://www.keychron.com/products/keychron-k2-pro-qmk-via-wireless-mechanical-keyboard' })
          @!credit.item({ title: 'Mouse', value: 'Apple Magic Trackpad 2', href: 'https://www.apple.com/shop/product/MK2D3AM/A/magic-trackpad-white-multi-touch-surface' })
        @end

        @credit.group({ title: 'Software' })
          @!credit.item({ title: 'Browser', value: 'Firefox Developer Edition', href: 'https://www.mozilla.org/en-US/firefox/developer/' })
          @!credit.item({ title: 'Video Editing', value: 'Final Cut Pro', href: 'https://www.apple.com/final-cut-pro/' })
          @!credit.item({ title: 'Video Recording', value: 'OBS', href: 'https://obsproject.com/' })
          @!credit.item({ title: 'Vector Editing', value: 'Affinity Designer 2', href: 'https://affinity.serif.com/en-us/designer' })
          @!credit.item({ title: 'Raster Editing', value: 'Affinity Photo 2', href: 'https://affinity.serif.com/en-us/photo/' })
          @!credit.item({ title: 'Print Editing', value: 'Affinity Publisher 2', href: 'https://affinity.serif.com/en-us/publisher/' })
          @!credit.item({ title: 'Terminal', value: 'Hyper', href: 'https://hyper.is/' })
          @!credit.item({ title: 'Database Management', value: 'TablePlus', href: 'https://tableplus.com/' })
          @!credit.item({ title: 'REST Client', value: 'Insomnia', href: 'https://insomnia.rest/' })
          @!credit.item({ title: 'Content Planning', value: 'Notion', href: 'https://www.notion.so' })
          @!credit.item({ title: 'Grammer & Spelling', value: 'Grammerly', href: 'https://www.grammarly.com' })
        @end

        @credit.group({ title: 'Editor & Extensions' })
          @!credit.item({ title: 'Text Editor', value: 'Video Studio Code', href: 'https://code.visualstudio.com/' })
          @!credit.item({ title: 'Color Theme', value: 'GitHub Dark', href: 'https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme' })
          @!credit.item({ title: 'File Icons', value: 'Bearded Icons', href: 'https://marketplace.visualstudio.com/items?itemName=BeardedBear.beardedicons' })
          @!credit.item({ title: 'Extensions', value: [
              { text: 'AdonisJS Extension', href: 'https://marketplace.visualstudio.com/items?itemName=jripouteau.adonis-vscode-extension' }, 
              { text: 'Edge template syntax highligher',  href: 'https://marketplace.visualstudio.com/items?itemName=AdonisJS.vscode-edge' },
              { text: 'Japa Extension', href: 'https://marketplace.visualstudio.com/items?itemName=jripouteau.japa-vscode' },
              { text: 'Stripe', href: 'https://marketplace.visualstudio.com/items?itemName=Stripe.vscode-stripe' },
              { text: 'Tailwind CSS IntelliSense', href: 'https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss' },
              { text: 'Vue Language Features', href: 'https://marketplace.visualstudio.com/items?itemName=Vue.volar' },
              { text: 'Codeium', href: 'https://marketplace.visualstudio.com/items?itemName=Codeium.codeium' },
              { text: 'Quokka.js', href: 'https://marketplace.visualstudio.com/items?itemName=WallabyJs.quokka-vscode' },
              { text: 'Better Comments', href: 'https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments' },
              { text: 'Lipsum Generator', href: 'https://marketplace.visualstudio.com/items?itemName=MrAwesomeRocks.lipsum-generator' },
            ] 
          })
        @end

        @credit.group({ title: 'Image Assets' })
          <div class="grid md:grid-cols-3 gap-4 text-slate-base-300 text-center lg:text-left">
            @each (asset in assets)
              <div>{{ asset.credit.replace('Left image by', '').replace('Left photo by', '').trim() }}</div>
            @endeach
          </div>
        @end

        @credit.group({ title: 'Icon Assets' })
          <div class="grid md:grid-cols-2 gap-4 text-slate-base-300 text-center lg:flex-left">
            <span>
              <a href="https://iconscout.com/lottie-animations/rocket" class="text-underline font-size-sm" target="_blank">Home Page Rocket</a> by <a href="https://iconscout.com/contributors/east-supply" class="text-underline font-size-sm" target="_blank">East Supply</a>
            </span>
            <a href="https://www.flaticon.com/free-icons/command-prompt" title="command prompt icons">Command Prompt by Hopstarter - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/biometric-identification" title="biometric identification icons">Biometric by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/id-card" title="id-card icons">Id Card by Smashicons - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Lock by Smashicons - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/component" title="component icons">Component by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/computing" title="computing icons">Hard Drive by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email by DinosoftLabs - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/computing" title="computing icons">Folder by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/database" title="database icons">Database by Smashicons - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/computing" title="computing icons">Router by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/idea" title="idea icons">Idea by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings by DinosoftLabs - Flaticon</a>
          </div>
        @end

        @credit.group({ title: 'Adocasts Plus Subscribers' })
          <div class="grid md:grid-cols-3 gap-4 text-slate-base-300 text-center lg:text-left">
            @each (user in subscribers)
              <div>
                @if (user.isEnabledProfile)
                  <a href="/{{ user.handle }}" up-follow>{{ user.profile.name || user.username }}</a>
                @else
                  {{ user.username }}
                @endif
              </div>
            @endeach
          </div>
        @end

        <img class="w-48 mx-auto animation-float mt-12 -mb-8" src="/imgs/robot/slice11.svg" alt="happy robot with a heart" />
        @!heading({ subtitle: 'Made possible by the support of our plus subscribers' })
        @!heading({ title: 'Thank you!', class: '-mt-8' })
      </dl>
    </div>
  </div>

@end
