<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body data-theme="adocasts-dark">
    @!header()
    
    <section class="mt-8">
      @!hero.dropTheGlue()
    </section>

    <section class="pb-8 pt-24 -mt-8 bg-gradient-to-b from-base-300 to-base-200">
      <div class="container mx-auto flex flex-col items-center">
        @if (auth.user)
          <h3 class="heading-3">
            Here's What You've Been Up To!
          </h3>

          @!stat.user()
        @else
          <h3 class="text-2xl font-black mb-3">
            We'll Be Here When You're Ready!
          </h3>
          
          @!stat.adocasts()
        @endif
      </div>
    </section>

    <section class="my-24 container mx-auto relative">
      <h2 class="heading-2">
        Learn One Step at a Time
      </h2>

      <div class="series-bento">
        @let([firstSeries, ...otherSeries] = series)

        <div class="area-1">
          @!series.card({ series: firstSeries, showLessons: true })
        </div>

        <div class="area-2">
          @each ((item, index) in otherSeries)
            @!series.card({ series: item })
          @endeach
        </div>
      </div>
    </section>

    <section class="my-24 container mx-auto relative">
      <h2 class="heading-2">
        Dive Into A Topic
      </h2>

      <div class="grid grid-cols-6 gap-3">
        @each (topic in topics)
          @!topic.card({ topic })
        @endeach
      </div>
    </section>
  </body>
</html>
