<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body data-theme="adocasts-dark">
    @!header()
    
    <section>
      @!hero.getShipDone()
    </section>

    <section class="mb-24 pb-8 pt-24 -mt-8 bg-gradient-to-b from-base-300 to-base-200">
      <div class="container mx-auto flex flex-col items-center">
        @if (auth.user)
          <h3 class="heading-3">
            Here's What You've Been Up To!
          </h3>

          @!stat.user()
        @else
          <h3 class="text-2xl font-black mb-3">
            We'll Be Here When You're Ready!
          </h3>
          
          @!stat.adocasts()
        @endif
      </div>
    </section>

    <section class="py-24 container mx-auto relative z-[1]">
      <h2 class="heading-2">
        Learn One Step at a Time
      </h2>

      <div class="series-bento">
        @let([firstSeries, ...otherSeries] = series)

        <div class="area-1">
          @!series.card({ series: firstSeries, showLessons: true })
        </div>

        <div class="area-2">
          @each ((item, index) in otherSeries)
            @!series.card({ series: item })
          @endeach
        </div>
      </div>
    </section>

    <div class="container mx-auto relative">
      <div class="pattern-faded-stars"></div>
    </div>

    <section class="py-24 container mx-auto relative z-[1]">
      @let(featTopic1 = topics.find(topic => topic.name === 'AdonisJS'))
      @let(featTopic2 = topics.find(topic => topic.name === 'EdgeJS'))
      @let(featTopic3 = topics.find(topic => topic.name === 'Lucid'))
      @let(featTopic4 = topics.find(topic => topic.name === 'Authentication'))
      @let(featIds = [featTopic1.id, featTopic2.id, featTopic3.id, featTopic4.id])
      @let(otherTopics = topics.filter(topic => !featIds.includes(topic.id)))

      <h2 class="heading-2">
        Dive Into A Topic
      </h2>

      <div class="grid grid-cols-4 gap-3 mb-3">
        @!topic.card({ topic: featTopic1, size: 'lg' })
        @!topic.card({ topic: featTopic2, size: 'lg' })
        @!topic.card({ topic: featTopic3, size: 'lg' })
        @!topic.card({ topic: featTopic4, size: 'lg' })
      </div>

      <div class="grid md:grid-cols-4 lg:grid-cols-5 2xl:grid-cols-6 gap-3">
        @each (topic in otherTopics)
          @!topic.card({ topic, size: 'sm' })
        @endeach
      </div>
    </section>

    <section class="py-24 container mx-auto">
      <h2 class="heading-2">
        Jump Straight to the Latest
      </h2>

      @let([featuredLesson, ...otherLessons] = lessons)
      <div class="w-full mb-6">
        @!lesson.card({ lesson: featuredLesson, size: 'lg' })
      </div>

      <div x-data="carousel" class="faded-scroll-carousel faded-to-base-300" :style="overflowStyle">
        <div class="w-full carousel carousel-center space-x-3" @scroll="handleScroll">
          @each (lesson in otherLessons)
            <div class="carousel-item">
              @!lesson.card({ lesson })
            </div>
          @endeach
        </div>
      </div>
    </section>
  </body>
</html>
