@layout({
  title: "Sitemap",
  meta: {
    url: route('sitemap'),
    desc: "Adocasts Sitemap",
    asset: null,
    index: true
  }
})

  <article class="flex flex-wrap mt-12 md:-mx-6 lg:-mx-12">
    <main class="w-full prose lg:prose-lg rounded-xl md:px-6 pb-4 lg:px-12 lg:pb-8" style="max-width: 100%;">
      @!heading({ title: 'Sitemap' })

      <div class="w-full flex flex-wrap">
        <div class="w-full lg:w-1/4">
          <h3>Content</h3>
          <ul class="list-none !p-0">
            <li class="!p-0 !m-0"><a href="/">Home</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('series.index') }}">Series</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('topics.index') }}">Topics</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('lessons.index') }}">Lessons</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('blog.index') }}">Blog/News</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('streams.index') }}">Streams</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('requests.lessons.index') }}">Lesson Requests</a></li>
          </ul>
        </div>

        <div class="w-full lg:w-1/4">
          <h3>Series</h3>
          <ul class="list-none !p-0 mb-3">
            @each (item in series)
              <li class="!p-0 !m-0">
                <a href="{{ route('series.show', { slug: item.slug }) }}">{{ item.name }}</a>
              </li>
              @if (item.children?.length)
                @each (subItem in item.children)
                  <li class="!m-0 !pl-4 border-l border-slate-300">
                    <a class="text-base" href="{{ route('series.show', { slug: item.slug }) }}#lesson_{{ subItem.sortOrder + 1 }}.0">{{ subItem.name }}</a>
                  </li>
                @endeach
              @endif
            @endeach
          </ul>
        </div>

        <div class="w-full lg:w-1/4">
          <h3>Topics</h3>
          <ul class="list-none !p-0">
            @each (topic in topics)
              <li class="!p-0 !m-0">
                <a href="{{ route('topics.show', { slug: topic.slug }) }}">{{ topic.name }}</a>
              </li>
              @if (topic.children?.length)
                @each (subTopic in topic.children)
                  <li class="!m-0 !pl-4 border-l border-slate-300">
                    <a class="text-base" href="{{ route('topics.show', { slug: subTopic.slug }) }}">{{ subTopic.name }}</a>
                  </li>
                @endeach
              @endif
            @endeach
          </ul>
        </div>

        <div class="w-full lg:w-1/4">
          <h3>Support &amp; Legal</h3>
          <ul class="list-none !p-0">
            <li class="!p-0 !m-0"><a href="/uses">What We Use</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('contact.index') }}">Contact Us</a></li>
            @if (env('STRIPE_ENABLED'))
              <li class="!p-0 !m-0">
                <a href="{{ route('pricing') }}">Pricing</a>
              </li>
            @endif
            {{--  <li class="!p-0 !m-0"><a href="{{ route('analytics') }}">Analytics</a></li>  --}}
            <li class="!p-0 !m-0"><a href="{{ route('legals.cookies') }}">Cookie Policy</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('legals.privacy') }}">Privacy Policy</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('legals.terms') }}">Terms of Use</a></li>
            <li class="!p-0 !m-0"><a href="{{ route('legals.guidelines') }}">Content Guidelines</a></li>
          </ul>
        </div>
      </div>
    </main>
  </article>

@end