@layout('layouts/app')

@section('content')
  <div id="player" class="w-full">
    <iframe
      src="https://www.youtube.com/embed/BPjvak_kB3U?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
      allowfullscreen
      allowtransparency
      allow="autoplay"
      width="1280"
      height="720"
    ></iframe>
  </div>
@endsection

@section('scripts')
  <script>
    const player = new Plyr('#player', {

    })
  </script>
@endsection
