@layout('layouts/app')

@section('meta')

{{--  @!meta.tags({
  url: route('uses'),
  title: "Uses",
  desc: "A collection of tech and software used at Adocasts that we deem vital to our lives as developers and content creators. Some items may be referrals.",
  asset: null,
  index: true
})  --}}

@endsection

@section('content')

  @set('item', (name, desc, href) => ({ name, desc, href }))

  @set('hardware', [
    item('💻 2021 14" Macbook Pro', 'Primary dev, recording, and video editing laptop', 'https://www.theverge.com/22751921/apple-macbook-pro-14-16-inch-2021-m1-pro-max-review'),
    item('🖥 2019 HP OMEN Obelisk 875', 'Gaming and editing desktop. Media Server', 'https://www.hp.com/us-en/shop/pdp/omen-by-hp-obelisk-desktop-875-1055xt'),
    item('🖥 Z-Edge 32" 4K IPS Monitor', 'My primary and gaming monitor', 'https://www.amazon.com/dp/B09LM5TQ9T'),
    item('⌨️ Logitech MX Keys', 'I absolutely love this keyboard', 'https://www.logitech.com/en-us/products/keyboards/mx-keys-wireless-keyboard.920-009295.html'),
    item('🖱 Logitech MX Master 3', 'I absolutely love this mouse', 'https://www.amazon.com/Logitech-Master-Advanced-Wireless-Mouse/dp/B07XC2FWD1'),
    item('📸 Sony ZV-1F', 'Camera used for webcam in newer lessons', 'https://www.amazon.com/Sony-Camera-Content-Creators-Vloggers/dp/B0BHKKHNHM'),
    item('🎙 Blue Yeti Microphone', 'Microphone I use for all my recordings', 'https://www.bluemic.com/en-us/products/yeti/'),
    item('🗄 WD MyCloud NAS Storage', '4TB worth of network accessible storage', 'https://www.bestbuy.com/site/wd-my-cloud-home-4tb-personal-cloud-white/5990204.p?skuId=5990204'),
    item('🖊 reMarkable 2', 'My notebook and sketchbook', 'https://remarkable.com/')
  ])

  @set('frameworks', [
    item('AdonisJS', 'My go to backend framework', 'https://adonisjs.com/'),
    item('Japa', 'For AdonisJS/NodeJS testing', 'https://japa.dev/'),
    item('Unpoly', 'Lets monoliths behave like SPAs', 'https://unpoly.com/'),
    item('TailwindCSS', "Our CSS framework of choice", "https://tailwindcss.com"),
    item('InertiaJS', "For monoliths with heavy front-end updating", 'https://inertiajs.com/'),
    item('VueJS', 'My go to frontend framework', 'https://vuejs.org/'),
  ])

  @set('hosting', [
    item('GitHub', 'What I primarily use for Git', 'https://github.com'),
    item('Cleavr', "An amazingly simple server and deploy manager", "https://cleavr.io?via=adocasts"),
    item('Vultr', "What we now use to host our sites", 'https://www.vultr.com/?ref=9100128'),
    item('Google Cloud Storage', "What we now use for image hosting", 'https://cloud.google.com/storage'),
    item('Mailjet', 'What we use for transactional email', 'https://www.mailjet.com/'),
    item('ConvertKit', 'What we use for our newsletter', 'https://convertkit.com/'),
  ])

  @set('software', [
    item('Firefox Developer Edition', "Long live the Firefox console!", "https://www.mozilla.org/en-US/firefox/developer/"),
    item('Final Cut Pro', 'Video editing software', 'https://www.apple.com/final-cut-pro/'),
    item('OBS', 'Video recordings & streaming', 'https://obsproject.com/'),
    item('Photoshop CS6', 'Vector image editing software', 'https://helpx.adobe.com/photoshop/using/whats-new-cs6.html'),
    item('Illustrator CS6', 'Raster image editing software', 'https://en.wikipedia.org/wiki/Adobe_Illustrator'),
    item('Hyper', 'My terminal of choice. I use Zsh with Oh-My-Zsh', "https://hyper.is/"),
    item('TablePlus', 'A fantastic database management GUI', "https://tableplus.com/"),
    item('Notion', 'What I use to write docs and lessons', 'https://www.notion.so'),
    item('Grammerly', 'Because English is hard', 'https://grammerly.com'),
    item('PilotMoon Scroll Reverser', 'Alters Mac scrolling to match Windows', 'https://pilotmoon.com/scrollreverser/'),
    item('NDM', 'NPM Desktop Manager', 'https://720kb.github.io/ndm/')
  ])

  @set('ide', [
    item('VS Code', 'My editor of choice', 'https://code.visualstudio.com/'),
    item('GitHub Blue Theme', 'Theme I use inside my VSCode editor', 'https://marketplace.visualstudio.com/items?itemName=Larxx.github-blue'),
    item('GitHub Dark Theme', 'Code theme used to highlight text on Adocasts.com', 'https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme'),
    item('Minimal Icons', 'Minimalistic VS Code icon theme', 'https://marketplace.visualstudio.com/items?itemName=jacobwgillespie.minimal-icons'),
    item('AdonisJS Extensions', 'Adds some neat AdonisJS support to VS Code', 'https://marketplace.visualstudio.com/items?itemName=jripouteau.adonis-vscode-extension'),
    item('Japa Extension', 'Simplify running your Japa tests', 'https://marketplace.visualstudio.com/items?itemName=jripouteau.japa-vscode'),
    item('Edge Template Support', 'I think the AdonisJS Extensions includes this now', 'https://marketplace.visualstudio.com/items?itemName=luongnd.edge'),
    item('Better Comments', 'I like my TODOs to stand out', 'https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments'),
    item('Change Case', 'Easily change text casing strategy', 'https://marketplace.visualstudio.com/items?itemName=wmaurer.change-case'),
    item('Codeium', 'Free Copilot alternative', 'https://marketplace.visualstudio.com/items?itemName=Codeium.codeium'),
    item('Tailwind CSS Intellisense', 'Intellisense for Tailwind', 'https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss')
  ])

  <div class="-mx-4 sm:-mx-6 border-t border-gray-300 relative -top-6 pt-8 mt-3">
    @!headings.hero({
      title: 'Uses',
      subtitle: `A collection of tech and software used at ${ env('APP_BRAND') } that we deem vital to our lives as developers and content creators. Some items may be referrals.`
    })
    <div class="app-container">
      <div class="flex flex-wrap -mx-6">
        <div class="w-full lg:w-1/2 px-6 order-2 lg:order-1">
          @!headings.section({ title: 'Hardware' })
          <ul class="mb-12">
            @each (item in hardware)
              <li class="flex flex-wrap mb-2">
                <a href="{{ item.href }}" target="_blank" class="font-semibold">{{ item.name }}</a>
                <span class="px-2 text-gray-900 dark:text-gray-700">&mdash;</span>
                <span class="text-gray-900 dark:text-gray-700">{{ item.desc }}</span>
              </li>
            @endeach
          </ul>
        </div>

        <div class="w-full lg:w-1/2 px-6 order-1 lg:order-2">
          <img src="/img/1/uses-image.jpg" class="w-full xl:max-w-md rounded-lg mb-6" alt="Adocast's/Tom's office setup">
        </div>
      </div>

      <div class="flex flex-wrap -mx-6">
        <div class="w-full lg:w-1/2 px-6">
          @!headings.section({ title: 'Frameworks & Libraries' })
          <ul class="mb-12">
            @each (item in frameworks)
              <li class="flex flex-wrap mb-2">
                <a href="{{ item.href }}" target="_blank" class="font-semibold">{{ item.name }}</a>
                <span class="px-2 text-gray-900 dark:text-gray-700">&mdash;</span>
                <span class="text-gray-900 dark:text-gray-700">{{ item.desc }}</span>
              </li>
            @endeach
          </ul>
        </div>

        <div class="w-full lg:w-1/2 px-6">
          @!headings.section({ title: 'Git & Hosting' })
          <ul class="mb-12">
            @each (item in hosting)
              <li class="flex flex-wrap mb-2">
                <a href="{{ item.href }}" target="_blank" class="font-semibold">{{ item.name }}</a>
                <span class="px-2 text-gray-900 dark:text-gray-700">&mdash;</span>
                <span class="text-gray-900 dark:text-gray-700">{{ item.desc }}</span>
              </li>
            @endeach
          </ul>
        </div>
      </div>

      <div class="flex flex-wrap -mx-6">
        <div class="w-full lg:w-1/2 px-6">
          @!headings.section({ title: 'Software' })
          <ul class="mb-12">
            @each (item in software)
              <li class="flex flex-wrap mb-2">
                <a href="{{ item.href }}" class="font-semibold">{{ item.name }}</a>
                <span class="px-2 text-gray-900 dark:text-gray-700">&mdash;</span>
                <span class="text-gray-900 dark:text-gray-700">{{ item.desc }}</span>
              </li>
            @endeach
          </ul>
        </div>

        <div class="w-full lg:w-1/2 px-6">
          @!headings.section({ title: 'Editor & Extensions' })
          <ul class="mb-12">
            @each (item in ide)
              <li class="flex flex-wrap mb-2">
                <a href="{{ item.href }}" class="font-semibold">{{ item.name }}</a>
                <span class="px-2 text-gray-900 dark:text-gray-700">&mdash;</span>
                <span class="text-gray-900 dark:text-gray-700">{{ item.desc }}</span>
              </li>
            @endeach
          </ul>
        </div>
      </div>
    </div>
  </div>
@endsection
