<div class="py-3 flex flex-col mb-9">
  <h1 class="text-3xl font-extrabold text-gray-950 tracking-tight mb-2">
    {{{ await $slots.main() }}}
  </h1>
  @if ($slots.description)
    <p class="max-w-prose text-lg text-gray-700">
      {{{ await $slots.description() }}}
    </p>
  @endif
</div>
