@button({ href: route('topics.show', { slug: item.slug }), class: 'h-10 bg-white border-white gap-4', size: 'sm' })
  <div class="w-8">
    @!taxonomy.icon({ item, class: 'w-full' })
  </div>
  <div class="flex-1">
    <h4 class="font-bold text-base">
      {{ item.name }}
    </h4>
  </div>
@end