@set('affiliate', affiliate ?? affiliateService.getRandom())

@if (affiliate && affiliate.leaderboard)
  <div class="affiliate">
    @!component(`components/affiliates/${affiliate.name}/${affiliate.leaderboard}`)
  </div>
@endif