@set('affiliate', affiliate ?? affiliateService.getRandom())

@if (affiliate && affiliate.square)
  <div class="affiliate">
    @!component(`components/affiliates/${affiliate.name}/${affiliate.square}`)
  </div>
@endif