<div class="w-full px-4 py-3 text-left text-base-content/80 break-words max-w-md">
  <div class="font-semibold opacity-60 text-sm mb-3">Table of contents</div>
  <ul class="mt-2 list-disc px-2 pl-6">
    {{{ await $slots.main() }}}
  </ul>
</div>
