<img 
  class="object-cover object-center {{ $props.class }}" 
  {{ 
    html.attrs({ 
      src: '/img/' + ad.asset.filename,
      alt: ad.asset.altText, 
      width: ad.size.width, 
      height: ad.size.height,
      style: `aspect-ratio: ${ad.size.width} / ${ad.size.height};`
    }) 
  }} 
/>