<div hx-watchlist>
  @if (isInWatchlist)
    @buttons.brand.base({ form: 'watchlistForm', type: 'submit', className: 'gap-3', block: true })
      @!icons.plus()
      In Your Watchlist
    @end
  @else
    @buttons.primary.inverse({ form: 'watchlistForm', type: 'submit', className: 'gap-3', block: true })
      @!icons.plus()
      Add to Watchlist
    @end
  @endif
</div>